fastapi
uvicorn
python-multipart
sse-starlette

langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langchain-huggingface

chromadb
pymupdf

sentence-transformers

python-dotenv